.style{
    background-color: yellow;
    font-weight: bold;
    color: red;
    text-align: center;
}
.Card{
    width: 300px;
    background-color: #f1efef;
    box-shadow: 2px 4px #eeeaea;
    display: inline-block;
    margin: 5px;
}
.heading{
    color: mediumseagreen;
    text-align: center;
}
.text{
    text-align: center;
}